{% extends 'master.html' %}
{% block title %}
 List of members
{% endblock %}
  {% block content %}
        <h1>Members</h1>
        <table border="1">
            {% for x in my_members %}
            <tr>
                {#Ini digunakan untuk mengiterasi nomer urut 1 sampai akhir#}
                <td>{{ forloop.counter }}</td>
                <td>{{ x.firstname }}</td>
                <td>{{ x.lastname }}</td>
                <td><a href="delete/{{x.id}}">Del</a></td>
                <td><a href="update/{{ x.id }}">Update</a></td>
            </tr>
            {% endfor %}
        </table>

        <p>
        <a href="add/">Add members</a>
        </p>
  {% endblock %}
